<!DOCTYPE html>
<html>
    <head>
        <title>Python Squad</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    </head>

    <body>
        <div class="header">
            <h1>
                Team Python
            </h1>
            <img alt = "[Python Image]" src="python.jpg" />
        </div>

        <div class = "members">
            <span>
                <h3>Team Members</h3>
                <ul>
                    <li>Joseph</li>
                    <li>Andrew</li>
                </ul>
            </span>
            
        </div>

            
       
    </body>
</html>